[2019-06-14 20:33] steven-murray opened #1 "Set proper acknowledgments"
The acknowledgments section in the README should be set correctly. I tried to do it well, but you should check it, @BradGreig .

[2019-06-14 22:39] steven-murray opened #2 "[BUG] License!"
**Describe the bug:**

There's no license!
@BradGreig can you decide on an appropriate license to include?

[2019-06-21 20:36] steven-murray opened #3 "[Feature Req.] Better handling of noise+data files"
This is a copy/re-statement of https://github.com/BradGreig/Hybrid21CM/issues/2.

**Is your feature request related to a problem? Please describe.**

At the moment, the way that data+noise is handled is quite cumbersome. In order to account for the case in which there may be several simulations (at different redshifts), the expectation is that `simulate()` returns a *list* of dictionaries. There a

[2019-06-21 21:53] steven-murray opened #4 "[BUG] Memory Leak"
This is a copy/restatement of part of https://github.com/BradGreig/Hybrid21CM/issues/30.

**Describe the bug:**

@caw11 stated:

@BellaNasirudin added:

**Expected behavior:**

That memory would not grow so large as to crash the system.

[2019-06-21 21:55] steven-murray commented on #4
A fix was issued in 53b28c8c13a44b874f4ba9ee1a25539821e41627 which may have solved this issue. @caw11 can you confirm if your issue persists?

@BellaNasirudin have you found anything that alleviates the memory build-up?

[2019-07-23 00:32] #2 closed

[2019-08-21 16:29] steven-murray commented on #4
@caw11 and @BellaNasirudin, I am going to close this issue for now, as a fix has been issued and no further errors have been reported. Feel free to re-open if you have had any more errors.

[2019-08-30 08:56] NGillet opened #8 "CoreLightConeModule build_model_data always the same lightcone"
NOTE : copy from [ here ]( https://github.com/BradGreig/Hybrid21CM/issues/32)

Hi,

I am trying to do a likelihood_NeutralFraction MCMC :
1) CoreLightConeModule

[code]

2) likelihood
[code]

3) MCMC:
[code]

The problem is that the return lnL is always 0.
I looked at the core and likelihood module and found that the actual modeled neutral fraction is identical between walkers and iterations:

In

[2019-08-30 09:06] NGillet opened #9 "[BUG] Odd behaviour for zero likelihood"
Hi,

I am testing the MCMC "only" features i.e. as much as possible independently of 21cmFast.

I build a simple core and likelihood :

    class MyDummyCore(mcmc.CoreBase):
        def __init__(self, dummy,
                 *args, **kwargs ):
            super().__init__(*args, **kwargs)
            self.dummy = dummy

        def build_model_data(self, ctx):
            super().build_model_data(

[2019-08-30 09:26] NGillet commented on #9
The defaults flag_options struct has USE_MASS_DEPENDENT_ZETA set to False. This should be set to True if you are using F_STAR and F_ESC.

It solves the problem and produces different light-cone global xHI (for neutral fraction and tau_e MCMC).

[2019-08-30 09:26] NGillet commented on #8
The defaults flag_options struct has USE_MASS_DEPENDENT_ZETA set to False. This should be set to True if you are using F_STAR and F_ESC.

It solves the problem and produces different light-cone global xHI (for neutral fraction and tau_e MCMC).

[2019-08-30 14:20] #8 closed

[2019-08-30 15:04] steven-murray commented on #9
I suspect these may be due to priors on the parameters (i.e. their bounds). Can you try changing their bounds and see if the resulting posteriors are affected?

The cross is very strange though. I'll have to look into it a bit more.

[2019-09-02 08:28] NGillet commented on #9
The cross is independent of the bound. I changed them to :
    M_TURN = [9.0, 5.0, 13.0, 5.0]
    ALPHA_STAR = [0.0, -2.5, 2.5, 3.0]
and it change nothing.
I think the boxy shape is related to the same "problem".

Is there a way to control the initial position of the walkers ?

[2019-09-02 12:26] NGillet opened #10 "[Feature Req.] Clarification of CoreModule verification in LikelihoodModules"
In each of the different likelihood modules already written, the verification of the provided linked core is different.
Some of them are done in the setup, in others, the check is done directly in the compute_likelihood, or even in the reduce data. Also, because of this variety of methods, I do not understand how the required_core works. In most of them, I think it is not used.

It would be better

[2019-09-03 16:13] steven-murray commented on #10
Absolutely agree. I think I can fix this pretty easily -- hopefully tomorrow!

[2019-09-04 10:48] NGillet opened #11 "[Question] Installation of 21cmFast and 21CMMC"
I am trying to properly install 21cmFast and 21CMMC from this git repo :
[21cmFast Collaboration](https://github.com/21cmfast) (which is the new long term project I think).

1) 21cmFast, following the doc:
        `> git clone https://github.com/21cmfast/21cmFAST.git`
        `> conda env create -f environment_dev.yml -n myenv_21cmFast`
        `> pip install -e .`
it works well, I can `import py2

[2019-09-04 13:40] steven-murray commented on #11
Thanks for the report/question!

Yes, that is the new long-term repo, so thanks for installing from there.

As for the question of which environment to install into: that's up to you, largely. Either a new one or the same one as you made for 21cmFAST will be fine (if you use a new one, 21cmFAST should be automatically installed into that new one as well). The reason you might want to do two differ

[2019-09-04 16:42] dprelogo commented on #11
Only for 21CMMC:

There are also problems when trying to install it `pip` way.
Both `pip install 21CMMC` and `pip install 21cmFAST` give error

Besides putting brackets in `package_data` mentioned above, what I've done to make it work is:
- delete `21cmFAST>=3.0.0dev` from `install_requires` in [setup.py](https://github.com/21cmfast/21CMMC/blob/master/setup.py)  (because of the mentioned error)
-

[2019-09-04 17:25] steven-murray commented on #11
Ah yes, we're waiting on 21cmFAST v3.0.0 to be released on PyPI (a few PRs to happen first), so I guess in the meantime, that is the appropriate fix. Thanks @dprelogo. Can you make a PR to that effect?

[2019-09-06 12:28] dprelogo opened #14 "[Question] py21cmfast functions/classes calls"
Import/calls of some functions/classes don't work, for example (from tutorials):
`from py21cmmc import plotting` raises `ImportError` or `py21cmmc.initial_conditions(...)` raises `AttributeError`.

However, those are all also `py21cmfast` functionalities and can be used from there, but I'm not sure if they are exactly the same. Is this expected behaviour, or some initialisation is missing?

[2019-09-06 15:05] steven-murray commented on #14
Ah, that's a problem with the docs, and an artifact of the move to this repository structure. In the previous 21CMMC, 21cmFAST was embedded and so everything was pulled from the same `py21cmmc` namespace. Now they are separate. If you have a spare moment, it would be great if you could move those parts of the docs to the `21cmFAST` repo.

Is that something you're comfortable doing?

[2019-09-06 16:17] dprelogo commented on #14
OK, thank you!
Those examples actually are part of `21cmFAST` docs (at least the ones I'm aware of), but as they included 21CMMC I thought it's more appropriate to ask here :)

[2019-09-06 18:47] steven-murray commented on #14
Oh, if they're in the 21cmFAST docs, they should be changed to `from py21cmfast import plotting`!

[2019-09-09 17:31] dprelogo commented on #14
Great, thanks! There are still some (minor) errors after doing so and those nice info messages about using cached files are not printed out.

[2019-09-09 17:47] steven-murray commented on #14
Can you elaborate on what errors are remaining?

[2019-09-09 18:47] dprelogo commented on #14
Sorry... when calling
[code]
it breaks at
[code]

[2019-09-10 03:53] steven-murray commented on #14
Thanks! I'll look into it.

[2019-09-20 15:40] steven-murray commented on #9
So sorry for the late reply!

OK so this definitely does seem like a problem.

You _can_ control the initial position of the walkers, but I'm afraid it's not simple.

First, you'll need to define a new Generator class like so:

[code]

then you need to pass this to the `run_mcmc` function:

[code]

[2019-09-20 16:16] steven-murray commented on #10
OK, so it's been more than one day. I checked through, and I think the following is happening:

All `Core`s and `Likelihood`s are checking their `required_cores` during `setup()`. None of the `Core`s do anything else about checking cores.

However some `Likelihood`s don't actually set their `required_cores` (so the check always works), but then raise errors elsewhere by, for example, checking the

[2019-09-24 12:23] NGillet commented on #9
I tried to change the initial walker position generator but **it changes nothing** to the final "crossed" distribution.
I also tried it in a higher dimension and it gives the same result.

There is another generator in Cosmohammer to do a flat initial distribution:
in CosmoHammerSampler.py

    from cosmoHammer.util import FlatPositionGenerator

    class CosmoHammerSampler(CHS):
        def __ini

[2019-09-24 13:55] NGillet commented on #9
Have you been able to reproduce the "crossed" distribution?
It would be nice to try, it does not take a long time. Just copy/paste the core and likelihood.

There are 2 scenarios : (i) I made mistake (70%  I would say) or (ii) there is a problem

(i) my core, likelihood, and run_mcmc are relatively simple, I do not see an obvious mistake.

(ii) the "crossed" distribution seems to suggest the walke

[2019-09-24 15:12] steven-murray opened #15 "[BUG] Documentation not compiling corrrectly on readthedocs"
**Describe the bug:**

The documentation at https://21cmmc.readthedocs.io/en/latest/reference/py21cmmc.html contains no links -- something is obviously going wrong.

**To Reproduce:**
Steps to reproduce the behavior:
1. Go to the link and observe.

**Expected behavior:**

The table should contain links to docstring API documentation.

[2019-09-24 15:16] steven-murray opened #16 "[Feature Req.] More exhaustive example docs"
**Is your feature request related to a problem? Please describe.**

The example docs at the moment are helpful, but don't include *all* possible options, and these might not be easy to find.

**Describe the solution you'd like**

It would be good, especially for new users, to explicitly list all options, and what they do etc.

**Describe alternatives you've considered**

One alternative is to just

[2019-09-24 15:36] steven-murray commented on #9
Thanks @NGillet, this is super helpful. I will try to run these examples myself sometime this week, though I _might_ not get to it til next week as I have a lot on.

Will you be in Pisa next week? Perhaps we can hit it hard then.

[2019-09-24 15:59] steven-murray commented on #9
Thinking about this a bit further:

For your "zero" likelihood, the posterior should be equal to the prior. If your prior is flat, `emcee` can have problems with it, because of its edge conditions. I don't know if it will give you a cross, but I guess that kind of makes sense.

For a Gaussian that is wider than the flat prior, you'd expect to see something a little box-like. I don't quite understa

[2019-09-24 18:58] steven-murray commented on #11
This was fixed in #13 . Please re-open if it's still not working for you!

[2019-09-24 18:58] #11 closed

[2019-09-30 09:07] JulianBMunoz opened #18 "[Feature Req.] Dark Ages HMF"
**Is your feature request related to a problem? Please describe.**

Not a problem, but perhaps adding a HMF that is calibrated for the dark ages would be better.

**Describe the solution you'd like**

Add an option for a HMF that is calibrated specifically at the redshifts we care about, for instance astro-ph/0607150.

**Describe alternatives you've considered**

**Additional context**

[2019-09-30 16:24] steven-murray commented on #18
I think this is a good idea. I have reservations about that particular mass function, though it is one of the only ones calibrated at these high redshifts.

[2019-10-07 15:08] jpober opened #20 "[BUG] Tutorial error"
**Describe the bug:**

Minor bug in mcmc_intro tutorial.

`from py21cmmc.mcmc import analyse` should be `from py21cmmc import analyse` (I think)

**To Reproduce:**
Steps to reproduce the behavior:
Run the first import cell.

[2019-10-08 18:01] steven-murray commented on #20
Thanks @jpober. I am working on a branch fixing a few of these documentation issues, that arose in the re-packaging of 21cmFAST and 21CMMC.

[2019-10-14 18:20] binnietom commented on #20
Hello,
There are similar type-o's in the mcmc_global.ipynb ( they mainly retain the syntax of the previous Hybrid21CM) -  so any core must be 'py21cmmc.core.<>' and likelihoods 'py21cmmc.likelihood.<>' (rather than 'py21cmmc.mcmc.<>').

Also with the Luminosity function part at the bottom: it is redshift not redshifts and there needs to be a sigma argument.
- Speaking of this I wanted to ask what

[2019-10-14 19:09] steven-murray commented on #20
@binnietom noted.

I am not sure what a sensible choice for the noise in the luminosity function. Perhaps @BradGreig knows?

[2019-10-15 18:06] binnietom commented on #4
Hi Steven,
As requested attached* is the simplest run found with the memory leak. Every other parameter combination I have tried does also cause a leak but in the less expensive models (e.g. like this one with coeval cubes and no spin temperature) it can be run on higher memory machines - they get away with running all the samplers before crashing. It is the virtual memory which fills up (having w

[2019-10-16 05:59] BradGreig commented on #20
For the luminosity functions, you should be passing the observational error bars from the specific observation that you are using as a prior rather than a fixed, constant sigma.

You can find the actual values used in the older 21CMMC located here https://github.com/BradGreig/21CMMC/tree/master/21CMMC_SourceCode/Programs/MockObs/GalaxyParams/LFs

[2019-10-16 19:41] steven-murray commented on #4
I'm just going to simplify the script further here for ease-of-reference:

[code]

[2019-10-17 21:40] steven-murray commented on #4
Using the above script, but with threadCount=1 (and many fewer iterations), I get the following output from top (columns are VIRT, RES, %CPU, %MEM):

[code]

Overall, it _seems_ to be doing what we want... i.e. the memory rises and falls as each iteration passes. The virtual memory does increase overall, but it also drops when the memory drops.
I should mention that top is recording on a time cade

[2019-10-17 22:22] steven-murray commented on #4
Letting it run for more iterations (still with a single thread) does show that there is a memory leak -- the percentage memory use almost monotonically increases. Strangely enough, every ~13 lines, it will print that the memory went down (to around 1%), but then the next line will begin again where it left off, instead of starting at the low memory value again.

However, I'm also printing out a tr

[2019-10-18 12:24] binnietom commented on #4
This is exactly what I saw. If I can help out in any way let me know.
For now, I've written a script that takes the output and resumes the run when it gets killed which sort of works!

Thanks, Tom

[2019-10-18 12:41] catherinewatkinson commented on #4
Just had a quick squizz. I can see an allocation in IonizationBox.c that is not being freed, it's only called if(INIT_ERFC_INTERPOLATION), so not sure it will be the cause of what Tom is seeing, but ultimately I imagine they need to be freed.

L120-121
        ERFC_VALS = calloc(ERFC_NUM_POINTS,sizeof(double));
        ERFC_VALS_DIFF = calloc(ERFC_NUM_POINTS,sizeof(double));

Also the allocs at L1

[2019-10-18 13:23] catherinewatkinson commented on #4
Also the allocs L105 in SpinTemperatureBox *box and *unfiltered_box don't seem to be freed anywhere I can see

[2019-10-18 13:44] binnietom commented on #9
I've noticed the walkers begin their run close to the fiducial points - looking deeper into the code (and the CosmoHammer's git page) taking the intipositionGenerator with no arguments defaults to the 'SampleBallPositionGenerator'. This puts Gaussians with mean=the fiducial point and variance of the 4th input parameter argument as the prior.
i.e. it doesn't use the min or max inputted:
[self.sampl

[2019-10-18 16:34] steven-murray commented on #4
@binnietom that is certainly suboptimal and we will definitely try to fix it properly!

Thanks @catherinewatkinson, I'll look through those things today as well. For now, here's the redacted output of valgrind run on the script I posted above, with a single thread.
[valgrind.txt](https://github.com/21cmfast/21CMMC/files/3744846/valgrind.txt)

I removed all the bits that didn't seem to be about py2

[2019-10-18 16:37] catherinewatkinson commented on #4
I was just about to email re missing fftwf_cleanup();

You have one in IonisationBox, but not in perturb, ICs and brightnessTemp. I've just added them and it seems to be reducing the built up memory...

[2019-10-18 16:39] catherinewatkinson commented on #4
I think you need to add the following as well to L830 of IonisationBox as the following are only allocated under these conditions:
if(flag_options->USE_MASS_DEPENDENT_ZETA) {
      free(xi_SFR);
      free(wi_SFR);
    }
    if(INIT_ERFC_INTERPOLATION) {
      free(ERFC_VALS);
      free(ERFC_VALS_DIFF);
    }

[2019-10-18 16:53] steven-murray commented on #4
Haha, I've just started making these changes as well! Do you want to finish making them in a branch, and push it up so I can run the test again?

One thing: the ERFC_VALS is not meant to be freed -- it is a thing that gets initialised once and then kept for the rest of the session.

[2019-10-18 17:08] catherinewatkinson commented on #4
I've made the changes in my branch for updating the density field generation... and I doubt that is ready to merge just yet as I've done it but not tested.

Go ahead and I will just suffer the consequences next time I pull :)

I didn't check the spin temp one or any others as I was not running in spin temp mode. So check the others for fftw_cleanup.

Re. the ERFC_VALS... Surely it has to be freed

[2019-10-18 19:44] binnietom opened #21 "[BUG] NoiseFile+obs prior type-o"
Hello,

In likelihood.py line 375, the InterpolatedUnivariateSpline should have n['ks'] as an argument (instead of n['k'] which disagrees with the noise format check earlier).

It runs without error with this fix.

Sorry to be reporting things so frequently at the moment!
Cheers,
Tom

[2019-10-18 21:28] steven-murray commented on #4
Hahaha that's always the way. OK I'll make those changes myself and see what happens.

So yeah, the ERFC_VALS should be freed right at the end, but since we're in a Python _session_, how do we know the end is? The point is, that is an array that gets allocated only once in any given python session -- it's not memory that's going to build up.

I could look at an exit hook on python that would try t

[2019-10-18 21:36] steven-murray commented on #21
Thanks @binnietom! Can you submit a PR for this?

Reporting things frequently is great!

[2019-10-19 09:04] ghost commented on #4
If that's the behaviour you want then you should allocate the erfc_vals in python and pass them somehow. Memory allocated in python will look after itself. Any memory allocated in the C code must be explicitly freed at some point. Otherwise you will get a memory leak. At least that's my understanding. You should also be able allocate it in C at a global level and then free it by calling a function

[2019-10-21 14:13] steven-murray commented on #4
Yeah, you're right. However, it really does make sense to allocate this in C. It will be a (small) memory leak at the termination of the program, but nothing huge. We can definitely free it by calling a C function at some point -- I will look into it.

[2019-10-22 09:24] catherinewatkinson commented on #4
Just thinking about this some more. I'm not sure I follow why you don't just allocate these and free them on every call like everything else. Can you clarify the logic of this?

[2019-10-22 17:12] steven-murray commented on #4
It's just for speed -- these are the same _every time_, so there's no point in initialising them hundred's of times in an MCMC.

[2019-10-23 05:02] BradGreig commented on #4
These will be regenerated once each time either run_coeval or run_lightcone are called. It should be possible to then free at the end of run_coeval and run_lightcone equivalent to how the spin temperature boxes are freed (with the free_TsCalcBoxes).

As for the fftwf_cleanup, these did exist at one point but they were causing a segfault so I removed them. It appears I didn't put them back...

If n

[2019-10-23 13:32] steven-murray commented on #4
@BradGreig I've got a branch to deal with it -- I'll push it up shortly so you can review it.

[2019-10-24 09:14] binnietom commented on #21
Hi Steven, I will when I'm confident I've got a working set but Ive written a lot of print statements that are mainly for my learning processes! For now I'll just keep posting updates on here if that's ok (I suspect its easier for you to change a line in the master than for me to reorganise a git branch?).

Speaking of this I've found a type-o in each of the observational priors. They all need to

[2019-10-24 16:48] steven-murray commented on #21
I have fixed these in the referenced PR. However, most of the documentation agrees with n['k'] -- so I instead changed the noise format check.

[2019-10-28 17:45] binnietom opened #24 "[BUG] Luminosity Function Bugs+questions"
Hey,

In line 950 of likelihood.py the def compute likelihood has 'return lnl' in the wrong indentation level. It is currently within the for loop, so it returns the lnl value for the first redshift only.

Also within the lnl for the Luminosity function (line 946 of likelihood.py)', the lnl calculation returns a fiducially calculated luminosity (i think) rather than the data input one.
I'm giving

[2019-10-29 18:01] steven-murray commented on #4
@BradGreig I was hoping to finish the better-testing branch before getting the memory leak stuff in a state that was more palatable for you. However, that is traveling much more slowly than anticipated, and I have an application to do this week. I've pushed up a `memleak` branch to 21cmFAST (which I'm pretty sure is where the leak is happening), and a `memory-leak` branch here.

My workflow has be

[2019-10-29 21:03] #10 closed

[2019-10-29 21:03] #20 closed

[2019-10-29 23:09] #21 closed

[2019-10-29 23:09] steven-murray commented on #24
Thanks @binnietom.

I've fixed the returning lnl inside the loop problem in #22. As for your other questions, I'm not quite sure what you mean.

All subclasses of `LikelihoodBaseFile` (like `LikelihoodLuminosityFunction`) are able to receive a `datafile=` and `noisefile=` argument. In this case, the datafile should be a `.npz` file with `Muv` and `lfunc` arrays in it. The `self.data['lfunc'][i]` c

[2019-10-30 10:53] binnietom commented on #24
Hi Steven,
Thanks for clarifying, I had been using it wrong here.
I've been passing all the observed LF through the sigma param as well as the LF sigmas (hence my use rewrite using self.noise in my previous message).

The error (copied below) isn't urgent as I've got a version working with Bouwens' data. It works if the sigma passed to the LF core is a constant, or an array, but fails whenever it

[2019-10-30 15:51] steven-murray commented on #24
Thanks @binnietom, good to know it's basically working. It seems like what you're getting is saying that the sigmas that you're passing are sometimes less than zero (which wouldn't make sense, of course).

An array of arrays (shape `(len(redshifts), len(Muv))`) should work perfectly fine, as long as the sigmas are all positive. The `Muv` I refer to here is that of the _model_ (i.e. whatever is pro

[2019-11-01 06:20] BradGreig commented on #4
@steven-murray I have started to look into this. To me the fftw cleanups etc. appear to be ok. However, I note a bunch of other arrays etc. that are not explicitly freed (e.g. interpolation tables etc.).

By the way, what are the 4 columns you are outputting? I am on a mac so this doesn't work the same for me, thus would like to be comparing similar things

[2019-11-12 17:40] qyx268 opened #25 "MultiNest sampler"
**Is your feature request related to a problem? Please describe.**
to reach convergence faster

**Describe the solution you'd like**

to include an additional sampler to emcee -- multinest

**Describe alternatives you've considered**

**Additional context**

[2019-11-15 21:24] steven-murray commented on #4
Sorry @BradGreig I didn't see your comment til now. I found that doing a `fftwf_destroy_plan(plan);` after every plan execution made the valgrind memory leak errors go away. I've pushed those changes to the `memleak` branch on 21cmFAST. I've also updated the `memory-leak` branch of 21cmMC to use the most up-to-date version of 21cmFAST.

There is now a script in 21cmFAST in `devel/simulate_mcmc_mem

[2019-11-18 01:06] BradGreig commented on #4
@steven-murray I have just ran this and confirm I didn't see any increase in memory while running this. Further, I increased the number of iterations and saw no notable increase.

A couple of things though. In your fix for the interpolation tables (better-testing branch) you've defined a loop that requires a specific C standard (the skipline function, defining int i within the loop). Given this is

[2019-11-20 13:46] steven-murray commented on #4
@BradGreig Noted! I'll fix those things -- I was definitely wondering whether the freeing of the TsCalcBoxes was a good idea (though not freeing it caused segfaults for me in a different, corner-case, context). I can certainly get around that though.

I was also meaning to ask you whether you think destroying all the FFTW plans is really a good idea -- I mean, it "works" in terms of a memory leak,

[2019-11-21 03:06] BradGreig commented on #4
@steven-murray I don't think there is any issue with destroying the plans after each usage. Its probably overkill, but if it prevents leaks I guess it'll do. There shouldn't be any specific performance cost for doing it.

I wonder if you could define 4 plans, R2C, C2R for DIM and HII_DIM and then destroy each only at the end, rather than after each usage. Might make the code look a little cleaner,

[2019-11-21 04:53] steven-murray commented on #4
From my brief reading around, the plans are attached to arrays, so you can't re-use them on different bits of memory. But I guess if we're using the same bit of memory, and just re-filling it time-after-time with different data, then it will work to re-use them.

I think it will take careful thought and testing though, so perhaps I'll create an issue for it and we can address it down the line.

[2019-11-21 06:05] BradGreig commented on #4
In a lot of instances, we are performing FFTs of the same memory. So it should be able to be minimised. I agree that we can leave this to a later point though as its less critical now it seems to be in a usable format

[2019-11-22 19:36] #4 closed

[2020-01-03 20:56] steven-murray opened #28 "Switch to setuptools_scm"
We should switch to setuptools_scm which is just an easier way to do versioning.

[2020-01-10 22:43] steven-murray opened #29 "[Feature Req.] Better user-facing API"
I think the user-facing API at the moment is a little unintuitive. Various methods are exposed, such as `setup`, which the user should never have to call (they are called by the MCMC routine itself).

I think we should think hard about a better API.

[2020-01-14 21:05] steven-murray opened #30 "[Feature Req.] Composable data reader"
**Is your feature request related to a problem? Please describe.**

Currently, if any data is required for a given likelihood from a file, the `LikelihoodBaseFile` class is used, but then the user has to sub-class this class to implement their own method for actually reading the data. This causes a problem, not only because that's annoying to do, but because we can't provide any more than one defa

[2020-01-20 14:17] binnietom opened #31 "Installation issues (and how to resolve)"
Hello,
The conda environment '21CMMC' that is made during py21cmmc isntallation currently doesnt work for me - I've had a meal of a time trying to run it on imperial's HPC, but here is a solution:

The following instructions produces a working environment.

##make sure the old stuff has been cleaned
$ module load anaconda3/personal
$ conda remove -n 21CMMC --all -y
$ module purge

##Create the env

[2020-01-21 15:02] steven-murray commented on #31
Thanks @binnietom. I'm going to move this to `21cmFAST`, which is really what this issue is about.

[2020-01-22 17:41] binnietom commented on #24
Hi Steven,

Now that I can install things (in most places) I've tried to follow your methodology for inputtign the luminosity function data.
I'm not sure if its a good idea to have a matrix with axes of redshifts and Muv (for lfuncs or sigmas) - unless I've misinterpreted what you intend (please reiterate if so).

The observational measurements at each redshift have different Muv values and a diff

[2020-01-22 21:50] steven-murray commented on #24
@binnietom ah yes, I understand your predicament. I *think* you can get around that fairly easily, by using multiple likelihoods (each one using a luminosity function with a single redshift). Would this work for you?

[2020-01-23 13:58] binnietom commented on #24
Trying at the moment...
e.g.
[code]

Seems to pass ok - will let you know how it turns out!

Also I've picked sigma=1.  arbitrarily - do you have a choice for this sigma we can justify? (if not what would you recommend?)

Thanks,
Tom

[2020-01-23 16:52] binnietom commented on #24
I spoke to soon, I think I've found a bug for when 'simulate=True'
(- still seems ok for simulate=False, but I'd like to plot the best fit LF when the runs finish)
The error I get is:

[code]

After some grep-ing I'm pretty sure the `simctx = self.chain.simulate_mock()` object in likelihood.py isn't a dictionary (or whatever acts on it isn't producing a dictionary), but I'm a bit stuck after that.

[2020-01-23 16:56] steven-murray commented on #24
Ah OK. I'll have a look at that, hopefully today, maybe tomorrow!

[2020-01-25 18:17] binnietom commented on #24
Found a bug in the Luminosity function likelihood calculation at line 956 of likelihood.py

lnl += -0.5 * np.sum(
                (self.data["lfunc"][i] - model_spline(self.data["Muv"][i])) ** 2
                / self.noise[i]["sigma"] ** 2
            )

should be:

lnl += -0.5 * np.sum(
                (self.data[i]["lfuncs"] - model_spline(self.data[i]["Muv"])) ** 2
                / self.noise

[2020-01-27 11:10] steven-murray commented on #24
Awesome -- can you make a PR fixing some of these things -- and add some tests? I can walk you through it if you like.

[2020-02-06 11:03] qyx268 commented on #24
how's this issue? I'm having difficulties using the LF likelihood... I'm not sure if I have the datafile or noisefile. Also is it true that we have to pass the core and likelihood for each redshifts now rather than giving an array of redshifts as in the tutorial?

[2020-02-06 15:16] steven-murray commented on #24
There is a branch called `LF_likelihood_bug` which you'll require to get the LF to work well (and @binnietom is still working on some of the details).

Actually you can do it either way: if you have a bunch of luminosity functions at different redshifts for which you want different UV-resolutions, you should pass multiple cores/likelihoods, one for each redshift. Otherwise, if the UV-resolution sh

[2020-02-09 12:11] andreimesinger commented on #24
hi @binnietom @steven-murray, could we PR this ASAP please? we have a project which requires some LF MCMCs and is otherwise close to finishing.  i don't really understand how come there is a bug when @BradGreig has run several MCMCs including LFs with the new version (i think...)

[2020-02-10 14:34] steven-murray commented on #24
@andreimesinger sure thing. I think the bugs are less fundamental bugs and
more that sometimes the interface is surprising.
@binnietom: the current branch is working for you, right? If so, can you
make it a PR?

On Sun, Feb 9, 2020 at 5:12 AM andreimesinger <notifications@github.com>
wrote:

[2020-02-13 21:57] #24 closed

[2020-02-17 09:47] qyx268 opened #35 "default LF data"
**Is your feature request related to a problem? Please describe.**

To include default observational LF in the data folder

**Describe the solution you'd like**

I take the data from Park+18 21CMMC and convert it into the required format. The data includes LF and noise at z=6, 7, 8 and 10.

**Describe alternatives you've considered**

**Additional context**

[2020-04-24 01:43] BradGreig opened #37 "[BUG] Chunking of light-cone"
**Describe the bug:**
When using the `Likelihood1DPowerLightcone` module, the chunking of the light-cone using the user defined `nchunks` can result in asymmetric shapes for the chunks. This occurs because the light-cone is broken up into pieces defined by `round(brightness_temp.n_slices / self.nchunks)`.

**Expected behavior:**
To me, the light-cone should be broken up into equal co-moving cubes,

[2020-04-24 01:52] BradGreig commented on #37
Hey @steven-murray I feel like we have had this discussion in the past, but can't find any record. Locally, my code has always created the chunk list as `chunk_indices = list(range(0, LC.n_slices, user_params.HII_DIM))`. Looking back through the history, it seems to have always been the way it is currently (@jaehongpark00 pointed this out to me).

Is there any reason why it is as it is currently?

[2020-04-24 19:03] steven-murray commented on #37
Hi @BradGreig -- what's the potential issues that could arise? I think I implemented it like this just to make it as general as possible. I couldn't think of any reasons off the top of my head why the chunks had to be cubes. In practice, observations themselves aren't cubes, so if we want to reproduce that, I didn't want to restrict ourselves.

I can always set the default option to be cubes? Or a

[2020-04-27 00:23] BradGreig commented on #37
Hi @steven-murray, technically there are no issues for the reasons you point out. However, I feel that in doing it this way there is more potential for user errors. The user must create their mock observation to be consistent with the expected chunking of the light-cone in the MCMC. If the expected chunking is not simply known before-hand (i.e. its a function of the user setup), then each time the

[2020-04-27 16:29] steven-murray commented on #37
Thanks @BradGreig .

This is partially mitigated by the `LikelihoodComputationChain` having a `simulate_mock` method which will compute a mock exactly as the input likelihood model requires. Nevertheless I see your point -- we do want to be careful to make it as easy as possible for the user to align the mock with the likelihood. Also, the current setup does _not_ allow for chunking which omits so

[2020-04-28 01:11] BradGreig commented on #37
Hi @steven-murray, yes I agree entirely with this. Default should be equal comoving-space chunks, with some option to enable alternative variations on this. This 2-tuple approach should enable all other variations that the user might require, which would be a nice feature.

[2020-04-28 15:49] steven-murray commented on #37
Great -- since this is API-level, we'll try get it in before v1.

[2020-05-22 00:06] steven-murray commented on #9
I'm pretty sure this problem is due to our forcing the proposals to be within the bounds here: https://github.com/21cmfast/21CMMC/blob/df8d177ba9dfcbbe0a8985d04343d96a8daf54c6/src/py21cmmc/ensemble.py#L66

For a similar test likelihood that @NGillet has above, I get a similar output density:

![image](https://user-images.githubusercontent.com/1272030/82617548-40e61e80-9b85-11ea-981d-08df1c37d1bb.p

[2020-05-22 00:56] BradGreig commented on #9
@steven-murray, yeah, I agree that this is likely to be the case. Was this test performed using Gaussian Ball Initial conditions or random uniform initial conditions? (as Tom noted above) If you are re-proposing new positions after they exceed their bounds with a Gaussian Ball then you'd expect these re-sampled positions to congregate around the centroid of the Gaussian (central limit theorem). If

[2020-05-22 01:21] steven-murray commented on #9
The initial conditions are a Gaussian ball. But the proposal does not use the initial conditions, it uses whatever internal stretch move covariance the ensemble has generated.

[2020-05-22 01:26] BradGreig commented on #9
But the proposed stretch is based on the original position of the walker. It splits the walker sample up into two, then proposes a new position based on the previous. If the original position is in a Gaussian ball, then its only going to look for new positions around the Gaussian ball. If it starts within Random Initial conditions, it'll move from these random positions.

[2020-05-22 13:40] steven-murray commented on #9
But this shouldn't affect the final distribution, right? The idea is that a small ball will quickly spread to fill the posterior, and lose memory of the initial conditions. It's possible that by losing detailed balance as we have, by implementing the forcing of only "good" proposals, this is contravened, so that the initial conditions do indeed play a role, but I'm not convinced (I can quickly con

[2020-05-22 13:45] andreimesinger commented on #9
yes, without detailed balance, the equilibrium walker distribution doesn’t reflect the posterior

[2020-05-22 14:28] steven-murray commented on #9
OK saw @BradGreig's comments in Slack showing that this is *not* an initial conditions thing, and it is entirely due to this load-balancing "feature". Opened a PR to remove it.

[2020-05-22 16:57] #9 closed

[2020-05-25 16:04] #35 closed

[2020-06-16 14:46] steven-murray opened #40 "[Feature Req.] Output of derived quantities directly from likelihood"
**Is your feature request related to a problem? Please describe.**

If we are to implement other samplers (for example the multinest sampler) then the output of derived data is not possible under the current framework, because the call to get the extra data is done _within_ `emcee`, and not by `cosmoHammer` itself. Other samplers that don't have that call and don't provide a hook to do so are not

[2020-06-27 12:24] #25 closed

[2020-07-06 15:04] steven-murray opened #42 "[BUG] PF being run every iteration"
**Describe the bug:**

@qyx268 and @catherinewatkinson both report that `perturb_field` is being run every iteration, despite none of the params being cosmological. This would be horrible.

**To Reproduce:**
I will let @catherinewatkinson and/or @qyx268 post steps to reproduce.

**Expected behavior:**

If no cosmological parameters are being changed (only `AstroParams`), then only `spin_temp` and/

[2020-07-07 00:06] qyx268 commented on #42
I think it only stores `InitialConditions` and one `PerturbedField`. It happened to all my MCMC runs. e.g.
[code]

However, I cannot be sure if after (re)starting, whether it will calculate all `PerturbedField` once and store them in the RAM for other iterations or it will indeed recalculate `PerturbedField` at each iteration. I will use logging to see what's happening.

[2020-07-07 05:38] qyx268 commented on #42
You can see in [log1.txt](https://github.com/21cmfast/21CMMC/files/4882682/log1.txt) that `PerturbField.c` is run at every redshift for each iteration (this is run with similar setup as shown above)

You can also see in [log.txt](https://github.com/21cmfast/21CMMC/files/4882680/log.txt) that when `cache_mcmc=True`, `PerturbField.c` is run at every redshift only for the first iteration.

These are

[2020-07-07 15:08] steven-murray commented on #42
Ahhhh, OK, I think I know what's happening.

For a set of Coeval boxes, it should work as expected, since the `PerturbField` is initialized and stored at each desired redshift. However, for Lightcones, the `PerturbedField` is only stored for the final redshift, and all the other redshifts throughout the evolution are then computed every time (because through the MCMC, boxes are not stored).

I thi

[2020-07-08 18:23] #42 closed

[2020-07-13 13:53] steven-murray opened #44 "[Feature Req.] Move away from CosmoHammer"
**Is your feature request related to a problem? Please describe.**

21CMMC currently uses `CosmoHammer` as its mcmc framework (which wraps `emcee`). However, `CosmoHammer` is no longer developed, and doesn't support `emcee` 3. We get around some of these issues by heavily subclassing/overwriting `CosmoHammer`, but this is a lot of hacking.

**Describe the solution you'd like**

A couple of things

[2020-07-14 01:04] BradGreig commented on #44
Given that you want to move away from ``CosmoHammer`` and have it be easily extendable to other samplers, to me it makes the most sense to write your own. That way it can be easily controlled to behave as needed and should be the easiest to maintain and develop.

[2020-09-24 15:05] andreimesinger commented on #44
I am not sure how this was handled with the new MultiNest sampler as well, but I agree it should be generic.  Perhaps it will help to touch base first with Tom about how his PMC ABC sampler works, and see if there is an way to incorporate it all.

[2020-09-30 20:52] #14 closed

[2020-11-17 04:03] keelder opened #48 "Chain has infinite run time?"
**Describe what you would like to do**
I am attempting to run through the MCMC Introduction tutorial, but the chain never actually finishes running to produce data. I am trying to find out what needs to be changed in the code to shorten the run time.

**What I've tried**
I've tried debugging using a number of methods, but I cannot figure out why `run_mcmc` cannot complete or where it is stuck.

[2020-11-17 12:32] qyx268 commented on #48
Thanks @keelder  for reporting this bug. I can confirm this is also happening to me by following `https://21cmmc.readthedocs.io/en/latest/tutorials/mcmc_intro.html#Running-MCMC`. In fact, `run_mcmc` stopped (i.e. cpu percentages reach 0). I suspect this has to do with simulating the mock PS. We will look into this soon.

Meanwhile, a quick solution is to set `simulate=False` after having produced

[2021-01-28 21:33] #15 closed

[2021-03-04 08:27] qyx268 opened #50 "MultiNest Scalability Test Results"
Here are some scaling features when using the MultiNest sampler, obtained using a suite of very small simulations

**HPC**: bridges2-rm psc xsede

**21cmfast version**: https://github.com/21cmfast/21cmfast/commit/07b99e5f6d8f06f833eba33a82311e7ed793861b

**21cmmc version**: https://github.com/21cmfast/21CMMC/commit/fbb18e42a0ff30674f55fe0b8b7401f6cd2c6474

**shared materials** : [sample script](ht

[2021-03-04 08:28] qyx268 commented on #50
not sure where to put this...

[2021-03-16 19:06] steven-murray commented on #50
Thanks @qyx268, this is awesome. It's a lot to digest, but will be a good reference for the future. I noticed that I think the plot for the `n_live_points` section might not be the right plot?

[2021-03-16 21:28] qyx268 commented on #50
It is the right plot, I just didn't use n_live_points as the horizontal axis as I only did 100 and 1000. A fair comparison is the first and last column of that plot where sampling_efficiency and evidence_tolerance are the same.

But there is still budget left, I gues I can do a suite of n_live_points = 300.

[2021-03-23 17:09] steven-murray opened #52 "[Feature Req.] Ability to choose which 21cmFAST errors to abort with."
**Is your feature request related to a problem? Please describe.**

At the moment, if a `ParameterError` occurs during running 21cmFAST, it will be ignored and the chain will continue, setting that set of parameters to have likelihood of `-inf`. As @BradGreig has pointed out, this can be dangerous because these parameters might affect the final chains.

**Describe the solution you'd like**
We shou

[2021-03-25 15:51] dkn16 opened #53 "Bug on ensemble.py"
**Describe the bug:**

When calling the function EnsembleSampler.__init__, always throw an error with 'got an unexpected keyword argument dim'
**To Reproduce:**
Steps to reproduce the behavior:
1. call run_mcmc and one can see the error

**Expected behavior:**

I guess the self.dim in ensemble.py should be self.ndim.
**Details:**
 - OS: CentOS 7.9.2009
 - Python Version: 3.8
 - Relevant compiler v

[2021-03-25 15:55] steven-murray commented on #53
Thanks @dkn16. I'll make sure I fix this today.

[2021-04-20 13:19] qyx268 opened #54 "redo the planck likelihood without requiring Planck data"
Currently, to use the Planck PS likelihoods, there are external data and code (e.g. `clik`) needed. A new python package has been published to do this. Perhaps, it's a good idea to walk away from the Planck code and to use this `planck-low-py`, in particular when PR #39 is still not merged...
paper: https://arxiv.org/abs/2104.05715
code: https://github.com/heatherprince/planck-low-py

[2021-04-20 13:43] steven-murray commented on #54
I'm all for making things more python-native, but I'm a bit worried that that code is not yet ready for production. Is there perhaps a way we could help bring it up to production level?

[2021-05-07 00:38] qyx268 commented on #50
NOTE: the parameter posteriors have a WRONG log_10(Mturn/Msol) range. It should be 8 to 10 rather than 8 to 12!

[2021-06-17 14:07] parphyam opened #55 "[Question]"
**Describe what you would like to do**

Do a parameter estimation for a 21cmFAST lightcone cube without making the lightcone again.
**What I've tried**

Hi,
If I already have a power spectrum .npz file which is constructed from 21cmFAST and I want to do a parameter estimation from the same, how can that be done? It appears from the documentation ([https://21cmmc.readthedocs.io/en/latest/tutorials/

[2021-06-17 15:29] steven-murray commented on #55
Hi @parphyam, this should definitely be possible.

You can setup your likelihood with the `datafile=` parameter, passing in the `.npz` file. You still need to pass in the parameters (`HII_DIM`, `BOX_LEN`,...) because your models may have a different resolution than your (mock) data. Hopefully this makes sense.

When you talk about visibilities, what are you using them for? By default, 21cmMC does

[2021-06-18 06:19] parphyam commented on #55
Hi,
Thank you for the answer. So essentially if I manage to extract a power spectrum from some mock visibility, then I should be able to perform parameter estimation on that using 21CMMC, right?

[2021-06-18 13:38] steven-murray commented on #55
Yes!

On Thu, Jun 17, 2021 at 11:20 PM parphyam ***@***.***> wrote:

[2021-07-14 00:10] steven-murray commented on #55
@parphyam I am closing this as resolved, but feel free to reopen as necessary.

[2021-07-14 00:10] #55 closed

[2021-08-16 13:37] qyx268 opened #56 "getParams returns None"
**Describe what you would like to do**

This happens when I'm switching to a new machine, the CHPC in South Africa. After digging around, I find the issue comes from that `getParams()` return `None`. I assume this is a break from `cosmoHammer`. Just wondering if anyone has seen this before or knows if this is a quick workaround.

**What I've tried**

Essentially, I found this because I'm not sampl

[2021-08-16 13:47] qyx268 commented on #56
nvm, it's a multinest thing, which was installed by the HPC staff. I'll go bother them if I can't solve this...

[2021-08-16 13:47] #56 closed

[2022-04-07 08:24] qyx268 commented on #50
### **We found discrepancy when counting the number of performed models between using different methods.**

First, MultiNest itself reports the number of Total Likelihood Evaluations, which is the value I quoted above for #model. Then, I wrote outputting scripts in the likelihood functions to output those forward-modeled properties for each model. So we can also count the number of files and use t

[2022-04-07 09:11] qyx268 commented on #50
### NEW SCALABILITY TEST RESULTS (BETTER RESULTS)
We suspected the poor scaling we found above was likely due to the choice of a very simple model. Therefore, the balance between communication (for MultiNest sampling) and computation (21cmFAST+likelihood evaluation) was poor. Note 400 models per CPU as shown in the 32-core runs while a typical model we use for a real inference costs 10-100x more C

[2022-04-07 22:16] steven-murray opened #57 "[Feature Req.] Faster caching of initial conditions"
Currently each process has to read the ICs that have been cached. This is because we can't pickle data more than 4GB. We should figure out a workaround, because when all the processes try to read the same file at the same time, it breaks.

[2022-04-26 06:22] #50 closed

[2022-04-26 06:23] qyx268 commented on #50
new results with each node number tested 3 times. The black point and errorbar shows the min, mid and max for the 3 runs.
![image](https://user-images.githubusercontent.com/15994713/165235100-1885780c-fb08-4005-93cd-5604dacb3114.png)

I'm closing the issue and going to put this figure on the front page

[2022-05-13 10:36] dprelogo opened #61 "[BUG] pymultinest: strange likelihood values for failed 21cmFAST parameters"
**Describe the bug:**

Running 21CMMC with `pymultinest` makes a weird output for the failed 21cmFAST parameter values. Instead of `-inf`, it saves a small positive number for the likelihood, which makes the run completely biased to that region.

I'm attaching a sample output for the [post_equal_weight](https://github.com/21cmfast/21CMMC/files/8686289/post_equal_weight.txt) file. The items with li

[2022-05-13 17:30] steven-murray commented on #61
When using `polychord`, which is roughly the same, I have this in my log posterior:

![image](https://user-images.githubusercontent.com/1272030/168336925-fa797766-0157-4e46-9dfc-c31246ab3f7e.png)

I think the `np.nan_to_num` might be what we want.

[2022-05-15 06:52] qyx268 commented on #61
yeah, I have had this issue for a very long time. I couldn't find a good solution. So I had to record the progress with git and checkout back to earlier commits when this happens.

I assumed it was due to how fortran writes stuffs. I thought those lines with e.g. `0.467...-309` were supposed to be 0.467...e-309, but somehow, it omitted the "E" during writing. But maybe you are right, it is just ho

[2022-05-15 09:10] dprelogo commented on #61
Thanks for the tips, this is a cool trick @steven-murray! I wrote a patch that allows user to pick behaviour... if the test runs finish fine, I'll create a PR.

[2022-05-19 10:01] dprelogo commented on #61
Here are the observations of the test runs...
If I understood correctly, the part of code which should control what happen in the case of `ParameterError` is the following [line](https://github.com/21cmfast/21CMMC/blob/a29145c2176945ffbdadfc029258f07d1de05403/src/py21cmmc/cosmoHammer.py#L684). I investigated two scenarios:
- putting some other large negative value instead of `-np.inf` (`-1e+30`, `

[2022-05-19 10:50] qyx268 commented on #61
I added that part. I didn't want to rebuild the chain because I had concerns that it might add existing likelihood again (which could be the reason that it is getting a bit slower?) and therefore double count.

I wonder if you could simply do
[code]

[2022-05-19 12:36] dprelogo commented on #61
#62

[2022-05-19 12:40] dprelogo commented on #61
I'm not 100% what exactly is an overhead. However, this seems like a reasonable solution...
I tested it and it works properly.

[2022-05-19 13:40] steven-murray commented on #61
I'm not sure exactly what's going on here. First, it isn't clear to me that `-inf` is returned only when there's a `ParameterError`... there are valid parameters (physically) that might still be outside their prior range. To me, the solution would be to change the likelihood you linked above to

[code]

Does that not work? Also, note that the `prior` function [here](https://github.com/21cmfast/21C

[2022-05-19 13:46] qyx268 commented on #61
... I kept replying to the wrong thread

[2022-05-24 00:45] #61 closed